# Server configuration
PORT=3001
NODE_ENV=development
PYTHON_SERVICE_URL=http://localhost:8000
UPLOAD_DIR=./uploads

# MongoDB connection string
MONGO_URL=mongodb://localhost:27017/harmonix
# For MongoDB Atlas, use the following format:
# MONGO_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/harmonix
